.projects-page .projects-header {
  position: relative;
  width: 100vw;
  height: 40svh;
  overflow: hidden;
  color: var(--base-100);
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-page .projects-header .container {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.projects-page .projects-header .prop-col:nth-child(1) {
  display: none;
}

.projects-page .projects-header .prop-col:nth-child(2) {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.projects-page .project-card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: var(--base-100);
  margin-bottom: 4rem;
}

.projects-page .project-card .project-card-img {
  aspect-ratio: 16/4;
  border-radius: 2rem;
  overflow: hidden;
}

.projects-page .project-card .project-card-img img {
  opacity: 0.75;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.projects-page .project-card:hover .project-card-img img {
  opacity: 1;
  transform: scale(1.02);
}

.projects-page .project-card .project-card-info {
  display: flex;
  gap: 2rem;
}

.projects-page .project-card .project-card-info h3 {
  font-size: 1.75rem;
  letter-spacing: -0.05rem;
}

.projects-page .project-card .project-card-info .prop-info-col {
  flex: 1;
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.projects-page .prop-info-sub-col:nth-child(1) {
  flex: 4;
}

.projects-page .prop-info-sub-col:nth-child(2) {
  flex: 3;
}

.projects-page .prop-name {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.projects-page .prop-name p.lg {
  color: var(--base-200);
}

.projects-page .prop-name p {
  color: var(--base-100);
}

.projects-page .prop-info-sub-col:nth-child(2) .prop-client p.lg {
  color: var(--base-200);
}

.projects-page .prop-info-sub-col:nth-child(2) .prop-client {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 0;
}

.projects-page .prop-info-sub-col:nth-child(2) .prop-client p {
  margin: 0;
  line-height: 1.75rem;
}

@media (max-width: 1000px) {
  .projects-page .projects-header {
    height: auto;
    min-height: 30svh;
    padding: 3rem 0;
  }

  .projects-page .projects-header .container {
    align-items: center;
    padding: 1rem;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
  }

  .projects-page .projects-header .prop-col:nth-child(2) {
    flex: 1;
    width: 100%;
    gap: 1rem;
  }

  .projects-page .projects-header h1 {
    font-size: 2rem;
    line-height: 1.2;
  }

  .projects-page .projects-header p.lg {
    font-size: 1rem;
    line-height: 1.4;
  }

  .projects-page .project-card {
    gap: 1rem;
    margin-bottom: 3rem;
  }

  .projects-page .project-card .project-card-img {
    aspect-ratio: 5/3;
    border-radius: 1rem;
  }

  .projects-page .project-card .project-card-info {
    flex-direction: column;
    gap: 0.5rem;
  }

  .projects-page .project-card .project-card-info .prop-info-col {
    flex-direction: column;
    gap: 1rem;
  }

  .projects-page .project-card .project-card-info h3 {
    font-size: 1.25rem;
  }

  .projects-page .prop-name {
    gap: 0.5rem;
    align-items: flex-start;
  }

  .projects-page .prop-name p.lg {
    font-size: 0.875rem;
  }

  .projects-page .prop-info-sub-col:nth-child(2) .prop-client {
    justify-content: flex-start;
  }

  .projects-page .prop-info-sub-col:nth-child(2) .prop-client p {
    font-size: 0.875rem;
  }

  .projects-page .prop-info-sub-col {
    flex: 1;
  }
}
