.footer {
  position: relative;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.footer .footer-meta {
  position: relative;
  width: 100%;
  height: 100%;
  color: var(--base-300);
  border-radius: 2rem;
  padding: 4rem 0;
}

.footer .footer-meta .container.footer-meta-header {
  margin-bottom: 4rem;
}

.footer .footer-meta .container.footer-meta-header,
.footer .footer-meta .container.footer-socials {
  display: flex;
  gap: 2rem;
}

.footer .footer-meta .container.footer-meta-header .footer-meta-col,
.footer .footer-meta .container.footer-socials .footer-meta-col {
  flex: 1;
}

.footer
  .footer-meta
  .container.footer-meta-header
  .footer-meta-col:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer
  .footer-meta
  .container.footer-meta-header
  .footer-meta-col:nth-child(2)
  .footer-nav-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
}

.footer .footer-meta .container.footer-meta-header .footer-meta-logo {
  color: var(--base-100);
  margin-bottom: 1rem;
  height: 8rem;
}

.footer .footer-meta .container.footer-meta-header .footer-meta-logo img {
  height: 100%;
  width: auto;
  object-fit: contain;
  filter: drop-shadow(1px 1px 2px rgba(255, 255, 255, 0.125));
}

.footer .footer-meta .container.footer-meta-header .footer-meta-block h2 {
  width: 80%;
}

.footer .footer-meta .container.footer-socials .footer-meta-col:nth-child(2) {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.footer .footer-meta .container.footer-socials .footer-meta-col:nth-child(2) p {
  width: 50%;
}

.footer .footer-socials-wrapper {
  display: flex;
  gap: 0.25rem;
}

.footer .footer-socials-wrapper .icon {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--base-400);
  border-radius: 10rem;
  font-size: 1.25rem;
}

.footer .footer-socials p {
  color: var(--base-400);
}

.footer .footer-company-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
  gap: 0.5rem;
}

.footer .footer-company-name h3 {
  color: var(--base-300);
}

.footer .footer-company-name p {
  color: var(--base-400);
}

.footer .footer-company-name p span {
  color: var(--base-100);
}

.footer-outro .container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--base-300);
  overflow: hidden;
}

.footer-copyright {
  display: centered;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.footer-copyright p {
  color: var(--base-400);
}

.footer-copyright p span {
  color: var(--base-100);
}

@media (max-width: 1000px) {
  .footer .footer-meta .container.footer-meta-header,
  .footer .footer-meta .container.footer-socials {
    flex-direction: column;
    gap: 4rem;
  }

  .footer
    .footer-meta
    .container.footer-meta-header
    .footer-meta-col:nth-child(2)
    .footer-nav-links,
  .footer .footer-meta .container.footer-socials .footer-meta-col:nth-child(2) {
    justify-content: flex-start;
    text-align: left;
  }

  .footer
    .footer-meta
    .container.footer-socials
    .footer-meta-col:nth-child(2)
    p {
    width: 100%;
  }

  .footer .footer-company-name {
    justify-content: flex-start;
    text-align: left;
  }

  .footer .footer-meta .container.footer-meta-header {
    margin-bottom: 0;
  }

  .footer .footer-meta-header .footer-meta-col:nth-child(2) {
    display: none;
  }

  .footer-copyright {
    flex-direction: column;
    gap: 0.5rem;
  }
}
